* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.header {
  height: 10vh;
  background-color: rgb(18, 18, 62);

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.right {
  display: flex;
  align-items: center;
}

.left {
  font-size: 2.2rem;
  padding-left: 18vh;

  display: flex;
  align-items: center;
}

.right-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-li {
  list-style: none;
  margin: 0 23px;
}

.right-li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

.right-li a:hover {
  color: rgb(153, 153, 226);
  text-decoration: underline;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftsection {
  margin-top: 15vh;
  font-size: 2rem;
  padding-left: 18vh;
}

.firstsection>div {
  width: 50%;
}

.rightsection {
  padding-right: 13vh;
  padding-top: 5vh;
}

.rightsection img {
  width: 80%;
  /*
  border: 5px solid #555;
  border-radius: 300px;
  */
}

.myname {
  color: rgb(170, 107, 228);
  font-size: 4rem;
}

#element {
  color: rgb(170, 107, 228);
}

.section-f-f {
  margin-top: 15vh;
  height: 80vh;
}

.section-five {
  height: 70vh;
}

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: #000;
  margin-top: 5vh;
}

.footer-div {
  font-size: 30px;
  color: white;
}

.social-media {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: #000;
}

.social-media-ul {
  position: relative;
  display: flex;
}

.social-media-li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

.social-media-a {
  text-decoration: none;
}

.fa-brands {
  font-size: 4em;
  color: #222;
}

.social-media-a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-media-li:nth-child(3) .social-media-a::before {
  content: "\f16d";
  background-image: linear-gradient(45deg,
      #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,
      #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}

.social-media-li:nth-child(2) .social-media-a::before {
  content: "\f099";
  color: #1DA1F2;
  border-bottom: 4px solid #1DA1F2;
}

.social-media-li:nth-child(5) .social-media-a::before {
  content: "\f232";
  color: #25D366;
  border-bottom: 4px solid #25D366;
}

.social-media-li:nth-child(4) .social-media-a::before {
  content: "\f08c";
  color: #0077b5;
  border-bottom: 4px solid #0077b5;
}

.social-media-li:nth-child(1) .social-media-a::before {
  content: "\f09a";
  color: #4267B2;
  border-bottom: 4px solid #4267B2;
}

.social-media-li:nth-child(6) .social-media-a::before {
  content: "\f2c6";
  color: #0088CC;
  border-bottom: 4px solid #0088CC;
}

.social-media-li:nth-child(7) .social-media-a::before {
  content: "\f392";
  color: #5865F2;
  border-bottom: 4px solid #5865F2;
}

.social-media-li:hover .social-media-a::before {
  height: 100%;
}

.footer-div a {
  text-decoration: none;
  color: magenta;
}

:root {
  --page-background: 277deg, 55%, 12%;
}

.btn {
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}

.btn::before,
.btn::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.btn::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}

.btn::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}

.btn:hover,
.btn:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}

.btn:hover::before,
.btn:hover::after,
.btn:focus::before,
.btn:focus::after {
  transform: none;
  opacity: 1;
}

.buttons {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  place-content: center;
  place-items: center;
  padding: 3em;
  position: relative;
  padding-left: 0px;
  z-index: 1;
}

.left-btn {
  margin-right: 30px;
}

.right-btn {
  margin-left: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 23px;
  text-align: center;
}

.section-second-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

.section-second-left {
  width: 50%;
  padding: 14vh 5vh 14vh 35vh;
}

.section-second-right {
  width: 50%;
  padding: 20vh 18vh 14vh 20vh;
  font-size: 20px;
}

.section-second-left img {
  height: 300px;
  --s: 10px;
  /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid white;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px, #0000 25%, white 0);
}

.section-five-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-five-flex-left {
  width: 50%;
  padding: 10vh 15vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-five-flex-right {
  width: 50%;
  padding: 7vh 15vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.i-left {
  padding-top: 10px;
  height: 20px;
}

i {
  color: #16b9defa;
}

.i-left>i {
  padding-bottom: 0px;
}

.loc {
  padding-left: 10px;
}

.con {
  padding-left: 9px;
}

.i-right p {
  padding-left: 20px;
  line-height: 19px;
}

.touch {
  font-size: 30px;
}

.b-touch {
  color: #16b9defa;
}

.c-me {
  font-size: 30px;
  color: #16b9defa;
}

.form-control {
  padding-right: 10vh;
}

.send-btn {
  background-color: #16b9defa;
  color: white;
  border: none;
  padding: 5px 30px;
  margin-right: 50px;
}






/*
.leftsection .buttons {
  padding: 50px 0;
}

.leftsection .btn {
  padding: 12px;
  background-color: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.section-heading {
  text-align: center;
}

main hr {
  border: 0;
  background: #9c97f1;
  height: 1px;
  margin: 60px 84px;
}

footer {
  background-color: #0e0e1a;
}

.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondsection h1 {
  font-size: 1.9rem;
}

.text-gray {
  color: gray;
}

.secondsection .box {
  background-color: white;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondsection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}

.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}

.vertical-title {
  position: relative;
  top: 75px;
  width: 120px;
  font-size: 14px;
}

.vertical-desc {
  position: relative;
  top: 86px;
  color: gray;
  width: 120px;
  font-size: 9px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 23px 112px;
}

.footer ul {
  list-style: none;
}

.footer>div {
  width: 223px;
}

footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
}

.long {
  height: 500px;
}
*/